.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-statistic-content-value{
    font-size: 19px !important;
}

.course-tab-list-header {
    color: #333 !important;
    cursor: pointer !important;
    font-size: 15px !important;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
    position: fixed !important;
}

.add-homework-modal-container, .add-exam-modal-container, .edit-profile-modal-container {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    box-shadow: 24px;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: scroll;
}

.ant-picker-dropdown{
    z-index: 1356 !important;
}

.add-question-card-each-container .ant-row{
    margin-bottom: 10px;
}

.ant-picker-time-panel-column {
    width: 45px !important;
}

.ant-picker-time-panel-cell-inner {
    text-align: center !important;
    padding: 0px !important ;
}

.student-uploads-tab-container .course-tab-list-header {
    font-size: 13px !important;
    line-height: 1em;
    text-align: center;
}

.student-uploads-tab-container .ui.card>.content>.header:not(.ui) {
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-uploads-tab-container .ui.card>.content {
    padding: 0.5em;
}

.grade-homework-input-container input {
    width: 50%;
}
.buy-course-modal .ant-col.ant-form-item-control, .buy-course-modal .ant-input-number {
    width: 100% !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 15px !important;
}


[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  background: #f7f7f7;
  border: 0px;
  border-radius: 2px;
}

.fc-today-button.fc-button.fc-button-primary{
  display: none;
}
.fc-button-group{
  display: none;
}

table tr td:first-child{
  color:brown;
  
}

table tr td{
  text-align: center;
}



.gradesHeaders{
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
  margin-top: 15px;
  color: rgb(53, 49, 49);
}